<div class="wrapper">
  <app-card>
    <div>
      <h1>Olá pessoas</h1>
      <span class="name">{{ name }}</span>
    </div>

    <p>Este não é meu primeiro projeto utilizando Angular!</p>

    <app-button label="Clique aqui" (clicked)="handleButtonClick()"></app-button>
  </app-card>

  <app-card>
    <h1>Média</h1>

    <app-input type="number" placeholder="Nota 1" [(ngModel)]="firstGrade" ngDefaultControl></app-input>
    <app-input type="number" placeholder="Nota 2" [(ngModel)]="secondGrade" ngDefaultControl></app-input>
    <app-input type="number" placeholder="Nota 3" [(ngModel)]="thirdGrade" ngDefaultControl></app-input>

    <app-button label="Calcular média" (clicked)="handleCalculateAverageClick()"></app-button>
    <span *ngIf="average !== null">
      {{ average | number: '1.2-2' }}
    </span>
  </app-card>

  <app-card>
    <h1>Manipulação de Strings</h1>

    <app-input placeholder="Digite a String" [(ngModel)]="text" ngDefaultControl></app-input>

    <app-button label="Verificar string" (clicked)="handleVerifyStringClick()"></app-button>
    <span *ngIf="stringResult !== null">
      {{ stringResult }}
    </span>
  </app-card>

  <app-card>
    <h1>Cálculo de Juros</h1>

    <app-input type="number" placeholder="Valor inicial" [(ngModel)]="initialValue" ngDefaultControl></app-input>
    <app-input type="number" placeholder="Taxa de juros" [(ngModel)]="interestRate" ngDefaultControl></app-input>
    <app-input type="number" placeholder="Tempo de aplicação" [(ngModel)]="applicationTime" ngDefaultControl></app-input>

    <app-button label="Calcular juros" (clicked)="handleCalculateInterestClick()"></app-button>
    <span *ngIf="interestResult !== null">
      {{ interestResult | currency: 'BRL': 'symbol' }}
    </span>
  </app-card>

  <app-card>
    <h1>Contagem de Vogais e Consoantes</h1>

    <app-input placeholder="Digite a String" [(ngModel)]="vowelsAndConsonantsText" ngDefaultControl></app-input>

    <app-button label="Contar vogais e consoantes" (clicked)="handleCountVowelsAndConsonantsClick()"></app-button>
    <span *ngIf="vowelsAndConsonantsResult !== null">
      {{ vowelsAndConsonantsResult }}
    </span>
  </app-card>
</div>
