<div class="wrapper">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <app-form-input [control]="form.get('name')" placeholder="Digite o nome" id="name" label="Nome:"></app-form-input>
    <app-form-input type="number" [control]="form.get('price')" placeholder="Digite o preço" id="price" label="Preço:"></app-form-input>
    <app-form-input [control]="form.get('description')" placeholder="Digite a descrição" id="description" label="Descrição:"></app-form-input>

    <app-button type="submit" label="Enviar" [disabled]="form.invalid"></app-button>
  </form>
</div>
